<script id="search-js" src="https://api.mapbox.com/search-js/v1.0.0-beta.17/web.js" defer></script>

<div class="fondo-content ">
  <div class="register-container mt-4 mb-4">

  {{#if isEdit}}
  <h1 class="mt-4 mb-4 forms-tittle register-title">Edita tu perfil</h1>
  <form action="/company/profile/edit/{{user._id}}" method="POST" enctype="multipart/form-data">
  {{else}}
  <h1 class="mt-4 mb-4 forms-tittle register-title">Crea una cuenta de empresa</h1>
  <form action="/register-company" method="POST" enctype="multipart/form-data">
  {{/if}}  

<div class="forms-container">
  <div class="mb-3">
    <label for="companyName" class="form-label">Nombre de la empresa</label>
    <input
      class="form-control{{#if errors.companyName}} is-invalid{{/if}}"
      name="companyName" type="text" id="companyName" placeholder="Mi empresa" value="{{user.companyName}}" required
    >
    {{#if errors.companyName}}
      <div class="invalid-feedback">
        {{errors.companyName}}
      </div>
    {{/if}}
  </div>

  <div class="mb-3 {{#if isEdit}}hidden{{else}}{{/if}}">
    <label for="email" class="form-label">Correo electrónico</label>
    <input
      class="form-control{{#if errors.email}} is-invalid{{/if}}"
      name="email" type="email" id="email" placeholder="empresa@empresa.es" value="{{user.email}}" required
    >
    {{#if errors.email}}
      <div class="invalid-feedback">
        {{errors.email}}
      </div>
    {{/if}}
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input
      class="form-control{{#if errors.password}} is-invalid{{/if}}" 
      name="password" placeholder="*********" type="password" id="password" {{#if isEdit}}value="{{user.password}}"{{else}}required{{/if}}
    >
    {{#if errors.password}}
      <div class="invalid-feedback">
        {{errors.password}}
      </div>
    {{/if}}
  </div>

  <div class="mb-3">
    <label for="repeatPassword" class="form-label">Repite la contraseña</label>
    <input
      class="form-control{{#if errors.password}} is-invalid{{/if}}" 
      name="repeatPassword" placeholder="*********" type="password" id="repeatPassword" {{#if isEdit}}value="{{user.password}}"{{else}}required{{/if}}
    >
    {{#if errors.repeatPassword}}
      <div class="invalid-feedback">
        {{errors.repeatPassword}}
      </div>
    {{/if}}
  </div>

  <div class="mb-3">
    <label for="province" class="form-label">Provincia</label>
    <input
      class="form-control{{#if errors.province}} is-invalid{{/if}}"
      name="province" type="text" id="province" placeholder="Barcelona" value="{{user.province}}" required
    >
    {{#if errors.province}}
      <div class="invalid-feedback">
        {{errors.province}}
      </div>
    {{/if}}
  </div>

  <div class="mb-3">
    <label for="city" class="form-label">Ciudad</label>
    <input
      class="form-control{{#if errors.city}} is-invalid{{/if}}"
      name="city" type="text" id="city" placeholder="Cornellá" value="{{user.city}}" required
    >
    {{#if errors.city}}
      <div class="invalid-feedback">
        {{errors.city}}
      </div>
    {{/if}}
  </div>

  <!-- INPUT LOCALIZACIÓN -->

  <div class="form-group mb-1">
    <label for="address">Localización</label>
    <input
      type="text"
      class="form-control"
      id="mapbox-autofill"
      placeholder="Escribe tu dirección."
      autocomplete="address-line1"
    >
    {{#if errors.address}}
      <div class="invalid-feedback">
        {{errors.address.message}}
      </div>
    {{/if}}
  </div>

  <input name="locationData" type="hidden" id="mapbox-autofill-location">
  <input name="address" type="hidden" id="mapbox-autofill-address">

  <div id="minimap-container" class="hidden"></div>

  <div class="mb-3">
    <label for="website" class="form-label">Página web</label>
    <input
      class="form-control{{#if errors.website}} is-invalid{{/if}}"
      name="website" type="url" id="website" placeholder="www.miempresa.es" value="{{user.website}}"
    >
    {{#if errors.website}}
      <div class="invalid-feedback">
        {{errors.website}}
      </div>
    {{/if}}
  </div>

   <div class="mb-3">
    <label for="phone" class="form-label">Teléfono de contacto</label>
    <input
      class="form-control{{#if errors.phone}} is-invalid{{/if}}"
      name="phone" type="text" id="phone" placeholder="999999999" value="{{user.phone}}"
    >
    {{#if errors.phone}}
      <div class="invalid-feedback">
        {{errors.phone}}
      </div>
    {{/if}}
  </div>

  <div class="mb-3">
    <label for="avatar" class="form-label">Avatar</label>
    <input class="form-control {{#if errors.avatar}} is-invalid{{/if}}" type="file" id="avatar" name="avatar" value="{{user.avatar}}">
    {{#if errors.avatar}}
      <div class="invalid-feedback">
        {{errors.avatar}}
      </div>
    {{/if}}
  </div>
</div>

<input type="hidden" name="isCompany" value="true">
    <div class="register-btn-container">
      <button class="btn register-btn" type="submit">{{#if isEdit}}Editar perfil{{else}}Crear cuenta{{/if}}</button>
        <p class="{{#if isEdit}}hidden{{else}}{{/if}}" >¿Ya tienes cuenta? <a class="create-account-link" href="/login"><b>Iniciar sesión</b></a></p>
    </form>
    </div> 
</div>
</div>

<script>
  const ACCESS_TOKEN = 'pk.eyJ1IjoiY2RlbGF0b3JyZSIsImEiOiJja3Y5bHJ6ZzcweG0yMnZtZzI4eXJna2UxIn0.m-OWQWPhRrb5ZNRz0M9AqQ';

  let autofillCollection;
  let minimap;

  const minimapContainer = document.getElementById("minimap-container");
  const addressInput = document.getElementById("mapbox-autofill");
  const locationInput = document.getElementById("mapbox-autofill-location");
  const addressInputText = document.getElementById("mapbox-autofill-address");

  // Autofill initialization
  document.getElementById("search-js").onload = () => {
    mapboxsearch.config.accessToken = ACCESS_TOKEN;
    
    autofillCollection = mapboxsearch.autofill({});
    
    minimap = new MapboxAddressMinimap();
    minimap.canAdjustMarker = true;
    minimap.satelliteToggle = true;
    minimap.onSaveMarkerLocation = (lnglat) => {
      console.log(`Marker moved to ${lnglat}`);
    };
    const minimapContainer = document.getElementById("minimap-container");
    minimapContainer.appendChild(minimap);
    
    autofillCollection.addEventListener(
      "retrieve",
      async (e) => {
        if (minimap) {
          minimap.feature = e.detail.features[0];
          minimapContainer.classList.remove("hidden");
        }
        console.log(e.detail.features[0]);
        locationInput.value = JSON.stringify(e.detail.features[0].geometry.coordinates);
        addressInputText.value = e.detail.features[0].properties.address_line1;
      }
    );
  };
</script>