<div class="fondo-content ">
  <div class="login-container my-5">

<h1 class="mt-4 mb-4">Crea una cuenta de jugador</h1>

<form action="/register-player" method="POST" enctype="multipart/form-data">

  <div class="mb-3">
    <label for="name" class="form-label">Nombre</label>
    <input
      class="form-control {{#if errors.name}}is-invalid{{/if}}"
      name="name" type="text" id="name" placeholder="Mi nombre" value="{{user.name}}" required
    >
    {{#if errors.name}}
      <div class="invalid-feedback">
        {{errors.name}}
      </div>
    {{/if}}
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Correo electrónico</label>
    <input
      class="form-control{{#if errors.email}} is-invalid{{/if}}"
      name="email" type="email" id="email" placeholder="jugador@jugador.es" value="{{user.email}}" required
    >
    {{#if errors.email}}
      <div class="invalid-feedback">
        {{errors.email}}
      </div>
    {{/if}}
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input
      class="form-control{{#if errors.password}} is-invalid{{/if}}" 
      name="password" type="password" id="password" required
    >
    {{#if errors.password}}
      <div class="invalid-feedback">
        {{errors.password}}
      </div>
    {{/if}}
  </div>

  <div class="mb-3">
    <label for="repeatPassword" class="form-label">Repite la contraseña</label>
    <input
      class="form-control{{#if errors.password}} is-invalid{{/if}}" 
      name="repeatPassword" type="password" id="repeatPassword" required
    >
    {{#if errors.repeatPassword}}
      <div class="invalid-feedback">
        {{errors.repeatPassword}}
      </div>
    {{/if}}
  </div>

  <div class="mb-3">
    <label for="city" class="form-label">Ciudad</label>
    <input
      class="form-control{{#if errors.city}} is-invalid{{/if}}"
      name="city" type="text" id="city" placeholder="Cornellá" value="{{user.city}}" 
    >
    {{#if errors.city}}
      <div class="invalid-feedback">
        {{errors.city}}
      </div>
    {{/if}}
  </div>

  <!-- INPUT LOCALIZACIÓN -->

  <div class="mb-3">
    <label for="avatar" class="form-label">Avatar</label>
    <input class="form-control" type="file" id="avatar" name="avatar">
  </div>

  <div class="mb-3">
    <label for="birthday" class="form-label">Cumpleaños</label>
    <input
      class="form-control{{#if errors.birthday}} is-invalid{{/if}}"
      name="birthday" type="date" id="birthay" value="{{user.birthday}}"
    >
    {{#if errors.birthday}}
      <div class="invalid-feedback">
        {{errors.birthday}}
      </div>
    {{/if}}
  </div>


  <button class="btn btn-primary" type="submit">Crear cuenta</button>
  <p >¿Ya tienes cuenta? <a href="/login"><b>Iniciar sesión</b></a></p>

</form></div>
</div>
