<h1 class="mt-3">Tu perfil de jugador</h1>

{{#if currentUser}}
<div class="d-flex mt-3">
    <div class="me-3">
        <img width='300'src="{{currentUser.avatar}}" alt="" referrerpolicy="no-referrer"/>
    </div>
    <div>
        <p>{{currentUser.name}}</p>
        <p>{{currentUser.email}}</p>
        {{#if currentUser.city}}<p>{{currentUser.city}}</p>{{/if}}  
    </div>
</div>
    

{{else}}
<p>No hay jugador</p>
{{/if}}