<div class="card mb-5">
      <img src="{{room.image}}" class="card-img-top img-cards" alt="{{room.name}}">
      <div class="card-body">
{{#unless currentUser.isCompany}}
       <div class="pb-2"><button data-user="{{currentUser._id}}" data-name="{{room.name}}" data-id="{{room._id}}" type="submit"
          class="like-button"><i
            class="bi {{#playerLikedRoom likes=likes room=room}} bi-heart-fill {{else}} bi-heart {{/playerLikedRoom}}"
            style="color: rgb(250, 93, 93)"></i></button>
        <button data-user="{{currentUser._id}}" data-name="{{room.name}}" data-id="{{room._id}}" type="submit"
          class="mark-button"><i
            class="bi {{#playerMarkedRoom marks=marks room=room}} bi-bookmark-fill {{else}} bi-bookmark {{/playerMarkedRoom}}"
            style="color: rgb(144, 144, 233)"></i></button>
        <button data-user="{{currentUser._id}}" data-name="{{room.name}}" data-id="{{room._id}}" type="submit"
          class="done-button"><i
            class="bi {{#playerDoneRoom dones=dones room=room}} bi-check-circle-fill {{else}} bi-check-circle {{/playerDoneRoom}}"
            style="color: rgb(114, 206, 134)"></i></button>
            </div> 
        {{/unless}}  

        <h5 class="card-title fw-semibold">{{room.name}}</h5>
        <a class="company-link" href="/company/{{room.company._id}}">
          <p class="card-text">{{room.company.companyName}}</p>
        </a>
        <p class="card-text">{{room.company.city}}</p>
        <a href="/room/{{room._id}}" class="btn see-more-btn btn-primary">Ver más</a>
      </div>
    </div>