<div class="search-section d-flex">
  <div class="container mx-auto">
    <div class="row mx-auto align-items-center h-100">
      <div class="d-flex align-items-center justify-content-center flex-row">
        <form action="/resultados" method="GET">
          <input type="text" class="form-control" id="rooms-search" name="search">
          <button type="submit" id="search-button" class="btn btn-danger">Buscar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container w-75 mt-5 section-body">
  {{#if lastRooms}}

  <div class="room-card mb-4 flex-sm-row">
    {{#each lastRooms}}
    <div class="card" style="width: 18rem;">
      <img src="{{this.image}}" class="card-img-top img-cards" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <a href="/company/{{company._id}}">
          <p class="card-text">{{company.companyName}}</p>
        </a>
        <p class="card-text">{{company.city}}</p>
        <button data-user="{{../currentUser._id}}" data-name="{{this.name}}" data-id="{{this._id}}" type="submit"
          class="like-button"><i
            class="bi {{#playerLikedRoom likes=../likes room=this}} bi-heart-fill {{else}} bi-heart {{/playerLikedRoom}}"
            style="color: rgb(250, 93, 93)"></i></button>
        <button data-user="{{../currentUser._id}}" data-name="{{this.name}}" data-id="{{this._id}}" type="submit"
          class="mark-button"><i
            class="bi {{#playerMarkedRoom marks=../marks room=this}} bi-bookmark-fill {{else}} bi-bookmark {{/playerMarkedRoom}}"
            style="color: rgb(144, 144, 233)"></i></button>

        <a href="/room/{{this._id}}" class="btn btn-primary">ver más</a>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

</div>

<div class="container w-75">
  {{#if lastPlayers}}

  <div class="room-card mb-4 flex-sm-row">
    {{#each lastPlayers}}
    <div class="card" style="width: 18rem;">
      <img src="{{this.avatar}}" class="card-img-top img-cards" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.city}}</p>
        <a href="/player/{{this._id}}" class="btn btn-primary">ver más</a>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

</div>

<script>
  const likeButtons = document.querySelectorAll('.like-button');
  const markButtons = document.querySelectorAll('.mark-button');


  likeButtons.forEach((btn) => {
    btn.addEventListener('click', () => {
      const heartBtn = btn.querySelector('i')
      axios.post(`http://localhost:3000/likes/${btn.dataset.user}/${btn.dataset.id}`)
        .then(response => {
          if (response.data === 'DELETED') {
            heartBtn.classList.remove('bi-heart-fill')
            heartBtn.classList.add('bi-heart')

          } else {
            heartBtn.classList.remove('bi-heart')
            heartBtn.classList.add('bi-heart-fill')
            console.log('entro al else')
          }
        })
        .catch(err => {
          console.log(err)
        })
    })
  })

  markButtons.forEach((btn) => {
    btn.addEventListener('click', () => {
      const markBtn = btn.querySelector('i')
      axios.post(`http://localhost:3000/marks/${btn.dataset.user}/${btn.dataset.id}`)
        .then(response => {
          if (response.data === 'DELETED') {
            markBtn.classList.remove('bi-bookmark-fill')
            markBtn.classList.add('bi-bookmark')

          } else {
            markBtn.classList.remove('bi-bookmark')
            markBtn.classList.add('bi-bookmark-fill')
          }
        })
        .catch(err => {
          console.log(err)
        })
    })
  })

</script>