<div class="container w-75 mt-5">

  <section class="company-section">
    {{#if companies}}
    <h1>Resultados para la búsqueda "{{search}}"</h1>
    <H1>Empresas</H1>
    {{#each companies }}
    <div class="card" style="width: 18rem;">
      <img src="{{this.avatar}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-text">{{this.companyName}}</h5>
        <p class="card-text">{{company.city}}</p>
        <a href="/company/{{this._id}}" class="btn btn-primary">ver más</a>
      </div>
    </div>
    {{/each}}
    <H1>Salas</H1>
    {{#each companies }}
    {{#each this.rooms}}
    <div class="card" style="width: 18rem;">
      <img src="{{this.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <a href="/company/{{company._id}}">
          <p class="card-text">{{company.companyName}}</p>
        </a>
        <p class="card-text">{{company.city}}</p>
        <a href="/room/{{this._id}}" class="btn btn-primary">ver más</a>
      </div>
    </div>
    {{/each}}
    {{/each}}
    {{else}}
    <p>no hay</p>
    {{/if}}
  </section>

  <section class="company-section">

    {{#if rooms}}
    <h1>Resultados para la búsqueda "{{search}}"</h1>
    <H1>Salas</H1>
    {{#each rooms }}
    <div class="card" style="width: 18rem;">
      <img src="{{this.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <a href="/company/{{company._id}}">
          <p class="card-text">{{company.companyName}}</p>
        </a>
        <p class="card-text">{{company.city}}</p>
        <a href="/room/{{this._id}}" class="btn btn-primary">ver más</a>
      </div>
    </div>
    {{/each}}
    <H1>Empresas</H1>
    {{#each rooms}}
    <div class="card" style="width: 18rem;">
      <img src="{{this.company.avatar}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-text">{{this.company.companyName}}</h5>
        <p class="card-text">{{this.company.city}}</p>
        <a href="/company/{{this.company._id}}" class="btn btn-primary">ver más</a>
      </div>
    </div>
    {{/each}}

    {{/if}}

  </section>
</div>