<div class="container w-75 mt-3">
  {{#if noResults}}
  <h1>No hay resultados para "{{search}}"</h1>
  {{else}}
  <section class="company-section">

    {{#if companies}}
    <h1>Resultados para la búsqueda "{{search}}"</h1>

    <div class="mt-3">
      <h1>Empresas:</h1>
      <div class="room-card mb-4 flex-sm-row">
      {{#each companies }}
      <div class="card mb-5 company-card">
        <a href="/company/{{this._id}}"><img src="{{this.avatar}}" class=" company-img-cards card-img-top img-cards" alt="{{this.companyName}}"></a>
        <div class="card-body">
         <h5 class="card-title fw-semibold">{{this.companyName}}</h5>
        <p class="card-text"><i class="bi bi-geo-alt"></i>{{this.city}}</p>
        <p class="card-text"><i class="bi bi-telephone"></i>{{this.phone}}</p>
        <a href="{{this.website}}" class="card-text company-web"><p ><i class="bi bi-globe"></i>{{this.website}}</p></a>
          <a href="/company/{{this._id}}" class="btn see-more-btn">Ver más</a>
        </div>
      </div>
      {{/each}}
      <div class="mt-4">
        <h1>Salas:</h1>
        <div class="room-card mb-4 flex-sm-row">
        {{#each companies }}
        <div class="room-card mb-4 mt-3 flex-sm-row">
          {{#each this.rooms as |room|}}
          {{>roomCards room=room currentUser=../currentUser likes=../likes marks=../marks dones=../dones}}
          {{/each}}
        </div>
        {{/each}}
        </div>
      </div>
      </div>
    
</div>
{{/if}}

</section>


<section class="company-section">
  {{#if rooms}}
  <h1>Resultados para la búsqueda "{{search}}"</h1>
  <div class="mt-3">
    <h1>Salas:</h1>
    <div class="room-card mb-4 mt-3 flex-sm-row">
      {{#each rooms as | room |}}
      {{>roomCards room=room currentUser=../currentUser likes=../likes marks=../marks dones=../dones}}
      {{/each}}
    </div>
  </div>
  <div class="mt-4">
    <h1>Empresas:</h1>
    <div class="room-card mb-4 mt-3 flex-sm-row">
    {{#each rooms}}
    <div class="card mt-4 mb-5 company-card">
       <a href="/company/{{this._id}}"><img src="{{this.company.avatar}}" class=" company-img-cards card-img-top img-cards" alt="{{this.company.companyName}}"></a>
      <div class="card-body">
        <h5 class="card-title fw-semibold">{{this.company.companyName}}</h5>
        <p class="card-text"><i class="bi bi-geo-alt"></i>{{this.company.city}}</p>
        <p class="card-text"><i class="bi bi-telephone"></i>{{this.company.phone}}</p>
        <a href="{{this.company.website}}" class="card-text company-web"><p ><i class="bi bi-globe"></i>{{this.company.website}}</p></a>
        <a href="/company/{{this.company._id}}" class="btn see-more-btn">Ver más</a>
      </div>
    </div>
    {{/each}}
    </div>
  </div>
  {{/if}}
  {{/if}}

</section>
</div>

<script src="/js/cards-btns.js"></script>