
<script id="search-js" src="https://api.mapbox.com/search-js/v1.0.0-beta.17/web.js" defer></script>


<div class="company-profile container w-75">
  <h1 class="mt-3">Tu perfil de empresa </h1>

  {{#if currentUser}}
  <div class="d-flex justify-content-between mt-3 flex-column flex-sm-row">
    <div class="me-3">
      <img width='300' src="{{currentUser.avatar}}" alt="" />
    </div>
    <div class="company-info">
      <p>{{currentUser.companyName}}</p>
      <p>{{currentUser.email}}</p>
      <p>{{currentUser.address}}</p>
      <p>{{currentUser.province}}</p>
      <p>{{currentUser.city}}</p>
      {{#if currentUser.website}}<p>{{currentUser.website}}</p>{{/if}}
      {{#if currentUser.phone}}<p>{{currentUser.phone}}</p>{{/if}}
    </div>
    <div class="row">
      <mapbox-address-minimap satellite-toggle="true" can-adjust-marker="true" id="map"
        location="{{currentUser.locationData}}">
      </mapbox-address-minimap>
    </div>

  </div>


  {{else}}
  <p>No hay empresa</p>
  {{/if}}
  <div class="mt-5">
    <h1 class="mb-3">Tus salas</h1>
    {{#if company.rooms}}
    <div class="mb-4">
      {{#each roomsWithAverage}}
      <div class="rooms-rows mb-4 flex-sm-row g-3">
        <div class="w-25">
          <h6>{{this.name}}</h6>
        </div>

        <p><i class="bi bi-heart-fill" style="color: rgb(250, 93, 93)"></i> {{likes.length}}</p>
        <p><i class="bi bi-bookmark-fill" style="color: rgb(144, 144, 233)"></i> {{marks.length}}</p>
        <p><i class="bi bi-check-circle-fill" style="color: rgb(114, 206, 134)"></i> {{dones.length}}</p>
        <p><i class="bi bi-star-fill" style="color: rgb(237, 198, 70)"></i> {{ averageScore }}</p>
        <div class="w-25 btns-row">
          <a class="btn edit-btn" href="/edit/room/{{this._id}}">
            <i class="bi bi-pencil-square"></i> Editar</a>
          <form action="/delete/room/{{this._id}}" method="POST">
            <button class="btn delete-btn"><i class="bi bi-trash"></i> Borrar</button>
          </form>
        </div>

      </div>

      {{/each}}
    </div>
    {{/if}}
  </div>
</div>


<script>
  const ACCESS_TOKEN = 'pk.eyJ1IjoiY2RlbGF0b3JyZSIsImEiOiJja3Y5bHJ6ZzcweG0yMnZtZzI4eXJna2UxIn0.m-OWQWPhRrb5ZNRz0M9AqQ';
  const minimap = document.querySelector('mapbox-address-minimap')
  const coordinates = minimap.getAttribute('location').split(',');

  const script = document.getElementById('search-js');

  script.onload = () => {
    minimap.accessToken = ACCESS_TOKEN;
    minimap.onSaveMarkerLocation = (coordinate) => { console.log(coordinate); }
    minimap.feature = {
      type: 'Feature',
      geometry: { type: 'Point', coordinates: coordinates },
      properties: {}
    };
  }

</script>