<script id="search-js" src="https://api.mapbox.com/search-js/v1.0.0-beta.17/web.js" defer></script>


<div class="company-detail container w-75">
  <h1 class="mt-3">{{company.companyName}}</h1>

  {{#if company}}
  <div class="company-info d-flex justify-content-between mt-3 flex-column flex-sm-row">
    <div class="me-3">
      <img width='270' src="{{company.avatar}}" alt="" />
    </div>
    <div class="company-info">
      <h5 class="fw-semibold">{{company.companyName}}</h5>
      <div class="d-flex flex-row g-3 mt-3">
        <i class="bi bi-envelope" style="color: #FFD321"></i>
        <p class="footer-address ms-2">{{company.email}}</p>
      </div>
      <div class="d-flex flex-row g-3">
        <i class="bi bi-geo-alt" style="color: #FFD321"></i>
        <p class="footer-address ms-2">Dirección:</br> {{company.address}},</br>{{company.province}},</br>{{company.city}}</p>
      </div>
      
      {{#if company.website}}
        <div class="d-flex flex-row g-3">
        <i class="bi bi-globe" style="color: #FFD321"></i>
        <p class="footer-address ms-2">{{company.website}}</p>
      </div>
      {{/if}}

      {{#if company.phone}}
      <div class="d-flex flex-row g-3">
        <i class="bi bi-telephone" style="color: #FFD321"></i>
        <p class="footer-address ms-2">{{company.phone}}</p>
      </div>
      {{/if}}
    </div>
    <div class="row">
      <mapbox-address-minimap satellite-toggle="true" can-adjust-marker="true" id="map"
        location="{{company.locationData}}">
      </mapbox-address-minimap>
    </div>

  </div>


  {{else}}
  <p>No hay empresa</p>
  {{/if}}
  <div class="mt-5">
    <h1 class="mb-5">Salas de {{company.companyName}}</h1>
{{#if company.rooms}}
<div class="room-card mb-4 flex-sm-row">
  <div class="swiper">
    <div class="swiper-wrapper">
    {{#each company.rooms as |room|}}
      <div class="swiper-slide">
        {{>roomCards room=room currentUser=../currentUser likes=../likes marks=../marks dones=../dones}}
      </div>
    {{/each}}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
{{/if}}
  </div>
</div>


<script>
  const ACCESS_TOKEN = 'pk.eyJ1IjoiY2RlbGF0b3JyZSIsImEiOiJja3Y5bHJ6ZzcweG0yMnZtZzI4eXJna2UxIn0.m-OWQWPhRrb5ZNRz0M9AqQ';
  const minimap = document.querySelector('mapbox-address-minimap')
  const coordinates = minimap.getAttribute('location').split(',');

  const script = document.getElementById('search-js');

  script.onload = () => {
    minimap.accessToken = ACCESS_TOKEN;
    minimap.onSaveMarkerLocation = (coordinate) => { console.log(coordinate); }
    minimap.feature = {
      type: 'Feature',
      geometry: { type: 'Point', coordinates: coordinates },
      properties: {}
    };
  }

</script>

<script src="/js/cards-btns.js"></script>

<script>
  const swiper = new Swiper('.swiper', {
    slidesPerView: 3, // Mostrar tres slides por vista
    spaceBetween: 20, // Espacio entre los slides
    direction: 'horizontal',
    //loop: true,

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

  });

</script>