<h1 class="ms-5 mt-3">Perfil de {{player.name}} </h1>

{{#if player}}
<div class="d-flex ms-5 mt-3">
  <div class="me-3">
    <img width='300' src="{{player.avatar}}" alt="" referrerpolicy="no-referrer" />
  </div>
  <div>
    <p>{{player.email}}</p>
    {{#if player.city}}<p>{{player.city}}</p>{{/if}}
  </div>
</div>

<div class="d-flex ms-5 mt-3"><i class="me-2 bi bi-heart-fill" style="color: rgb(250, 93, 93)"></i>Salas que le gustan a
  {{player.name}}:</div>
<div class="container w-75 mt-5 section-body">
  {{#if likes}}
  <div class="swiper">
    <div class="swiper-wrapper">
      {{#each likes as |like|}}
      <div class="swiper-slide">
        {{>roomCards room=like.room currentUser=../currentUser likes=../userLikes marks=../userMarks dones=../userDones}}
      </div>
      {{/each}}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  {{else}}
  <p class="mt-4">{{player.name}} todavía no ha indicado que le gusta una sala.</p>
  {{/if}}
</div>
</div>

<div class="d-flex ms-5 mt-3"><i class="me-2 bi bi-check-circle-fill" style="color: rgb(114, 206, 134)"></i>Salas que
  {{player.name}} ha hecho:</div>
<div class="container w-75 mt-5 section-body">
  {{#if dones}}
  <div class="swiper">
    <div class="swiper-wrapper">
      {{#each dones as |done|}}
      <div class="swiper-slide">
        {{>roomCards room=like.room currentUser=../currentUser likes=../userLikes marks=../userMarks dones=../userDones}}
      </div>
      {{/each}}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  {{else}}
  <p class="mt-4 ms-5">{{player.name}} no ha marcado ninguna sala como hecha.</p>
  {{/if}}



  {{else}}
  <p>No hay jugador</p>
  {{/if}}
</div>
</div>

<script src="/js/cards-btns.js"></script>

<script>
  const swiper = new Swiper('.swiper', {
    slidesPerView: 3, // Mostrar tres slides por vista
    spaceBetween: 20, // Espacio entre los slides
    direction: 'horizontal',
    //loop: true,

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

  });

</script>