
<div class="container w-75">
<h1 class="mt-3">Tu perfil de jugador</h1>

{{#if currentUser}}
<div class="d-flex align-items-center mt-3 flex-column flex-sm-row profile-player-info">
  <div class="me-5">
    <img src="{{currentUser.avatar}}" alt="" class="player-avatar" referrerpolicy="no-referrer" />
  </div>
  <div class="info-player-container">
    <h5 class="fw-semibold mt-3">{{currentUser.name}}</h5>
    <div class="d-flex flex-row g-3 mt-3">
        <i class="bi bi-envelope" style="color: #FFD321"></i>
        <p class="footer-address ms-2">{{currentUser.email}}</p>
    </div>
    {{#if currentUser.city}}
    <div class="d-flex flex-row g-3">
        <i class="bi bi-geo-alt" style="color: #FFD321"></i>
        <p class="footer-address ms-2">{{currentUser.city}}</p>
    </div>
    {{/if}}
  </div>
</div>

  <div class="mt-5">
    <div class="d-flex align-items-center mb-4">
        <i class="me-2 bi bi-heart-fill" style="color: rgb(250, 93, 93)"></i>
        <h1>Salas que te han gustado</h1>
      </div>
      <div class="container mt-3 section-body">
    {{#if likes}}
      <div class="swiper">
          <div class="swiper-wrapper">
          {{#each likes as |like|}}
            <div class="swiper-slide">
              {{>roomCards room=like.room currentUser=../currentUser likes=../likes marks=../marks dones=../dones}}
            </div>
          {{/each}}
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
      </div>
      {{else}}
      <div class="no-results">
        <p>Todavía no has dado me gusta a ninguna sala.</p>
      </div>
      {{/if}}
    </div>
  </div>

<div>
  <div class="mt-5 section-body">
    <div class="d-flex align-items-center mb-4">
      <i class="me-2 bi bi-bookmark-fill" style="color: rgb(144, 144, 233)"></i>
      <h1>Tus salas guardadas</h1>
    </div>
  <div class="container mt-3 section-body">
    {{#if marks}}
    <div class="swiper">
      <div class="swiper-wrapper">
      {{#each marks as |mark|}}
      <div class="swiper-slide">
          {{>roomCards room=mark.room currentUser=../currentUser likes=../likes marks=../marks dones=../dones}}
        </div>
      {{/each}}
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
      {{else}}
      <div class="no-results">
        <p>Todavía no has guardado ninguna sala.</p>
      </div>
      {{/if}}
    </div>
  </div>
</div>

<div>
  <div class="mt-5 section-body">
    <div class="d-flex align-items-center mb-4">
      <i class="me-2 bi bi-check-circle-fill" style="color: rgb(114, 206, 134)"></i>
      <h1>Salas que has hecho</h1>
    </div>
  <div class=" mt-3 section-body">
    {{#if dones}}
    <div class="swiper">
      <div class="swiper-wrapper">
        {{#each dones as |done|}}
        <div class="swiper-slide">
          {{>roomCards room=done.room currentUser=../currentUser likes=../likes marks=../marks dones=../dones}}
        </div>
        {{/each}}
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      </div>
      {{else}}
      <div class="no-results">
        <p>Todavía no has marcado ninguna sala como hecha.</p>
      </div>
      {{/if}}
        </div>
  </div>
</div>

    {{else}}
    <p>No hay jugador</p>
    {{/if}}
  </div>
</div>
</div>


<script src="/js/cards-btns.js"></script>

<script>
  const swiper = new Swiper('.swiper', {
    slidesPerView: 1, // Mostrar tres slides por vista
    spaceBetween: 20, // Espacio entre los slides
    direction: 'horizontal',
    //loop: true,

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    breakpoints: {
      // Cuando el ancho de la ventana es menor que 768px (dispositivos móviles)
      768: {
        slidesPerView: 3, // Mostrar solo un slide por vista en dispositivos móviles
      }
    }

  });
</script>
