<div class="container w-75">
  <h1 class="mt-3">Perfil de {{player.name}} </h1>

  {{#if player}}
  <div class="d-flex align-items-center mt-3 flex-column flex-sm-row">
    <div class="me-5">
      <img width='300' src="{{player.avatar}}" alt="" class="player-avatar" referrerpolicy="no-referrer" />
    </div>
    <div class="info-player-container">
      <h5 class="fw-semibold">{{player.name}}</h5>
      <div class="d-flex flex-row g-3 mt-3">
        <i class="bi bi-envelope" style="color: #FFD321"></i>
        <p class="footer-address ms-2">{{player.email}}</p>
      </div>
      {{#if player.city}}
      <div class="d-flex flex-row g-3">
        <i class="bi bi-geo-alt" style="color: #FFD321"></i>
        <p class="footer-address ms-2">{{player.city}}</p>
      </div>
      {{/if}}
    </div>
  </div>

  <div class="mt-5">
    <div class="d-flex align-items-center mb-4">
      <i class="me-2 bi bi-heart-fill" style="color: rgb(250, 93, 93)"></i>
      <h1>Salas que le gustan a {{player.name}}</h1>
    </div>
    <div class="container mt-3 section-body">
      {{#if likes}}
      <div class="swiper">
        <div class="swiper-wrapper">
          {{#each likes as |like|}}
          <div class="swiper-slide">
            {{>roomCards room=like.room currentUser=../currentUser likes=../userLikes marks=../userMarks
            dones=../userDones}}
          </div>
          {{/each}}
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
        {{else}}
        <div class="no-results">
        <p>{{player.name}} todavía no ha marcado que le gusta una sala.</p>
        </div>
  {{/if}}
    </div>
  </div>

<div class="mt-5 mb-5">
    <div class="d-flex align-items-center mb-4">
      <i class="me-2 bi bi-check-circle-fill" style="color: rgb(114, 206, 134)"></i>
      <h1>Salas que ha hecho {{player.name}}</h1>
    </div>
    <div class="container mt-3 section-body">
      {{#if dones}}
      <div class="swiper">
        <div class="swiper-wrapper">
          {{#each dones as |done|}}
          <div class="swiper-slide">
            {{>roomCards room=done.room currentUser=../currentUser likes=../userLikes marks=../userMarks
            dones=../userDones}}
          </div>
          {{/each}}
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      {{else}}
      <div class="no-results">
        <p>{{player.name}} aún no ha marcado ninguna sala como hecha.</p>
      </div>
      {{/if}}

    </div>
</div>
  {{/if}}
</div>


<script src="/js/cards-btns.js"></script>

<script>
  const swiper = new Swiper('.swiper', {
    slidesPerView: 1, // Mostrar tres slides por vista
    spaceBetween: 20, // Espacio entre los slides
    direction: 'horizontal',
    //loop: true,

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    breakpoints: {
      // Cuando el ancho de la ventana es menor que 768px (dispositivos móviles)
      768: {
        slidesPerView: 3, // Mostrar solo un slide por vista en dispositivos móviles
      }
    }

  });
</script>