<div class="fondo-content ">
    <div class="login-container my-5">

        {{#if isEdit}}
        <h1 class="mt-4 mb-4">Edita la sala {{room.name}}</h1>
        <form action="/edit/room/{{room._id}}" method="POST" enctype="multipart/form-data">
        {{else}}
        <h1 class="mt-4 mb-4">Crea una nueva sala</h1>
        <form action="/create/room" method="POST" enctype="multipart/form-data">
        {{/if}}

            <div class="mb-3">
                <label for="name" class="form-label">Nombre de la sala</label>
                <input class="form-control {{#if errors.name}}is-invalid{{/if}}" name="name" type="text" id="name"
                    placeholder="Mi sala" value="{{room.name}}" required>
                {{#if errors.name}}
                <div class="invalid-feedback">
                    {{errors.name}}
                </div>
                {{/if}}
            </div>

            <div class="mb-3">
                <label for="players" class="form-label">Número de jugadores</label>
                <select class="form-select{{#if errors.players}} is-invalid{{/if}}" value="{{room.players}}"
                    name="players">
                    <option selected>-- Selecciona el número de jugadores --</option>
                    {{#each playerNum}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                {{#if errors.players}}
                <div class="invalid-feedback">
                    {{errors.players}}
                </div>
                {{/if}}
            </div>

            <div class="mb-3">
                <label for="minAge" class="form-label">Edad mínima requerida</label>
                <input class="form-control{{#if errors.minAge}} is-invalid{{/if}}" name="minAge" type="number"
                    id="minAge" value="{{room.minAge}}" required>
                {{#if errors.minAge}}
                <div class="invalid-feedback">
                    {{errors.minAge}}
                </div>
                {{/if}}
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Precio de la sala (euros)</label>
                <input class="form-control{{#if errors.price}} is-invalid{{/if}}" name="price" type="number" id="price" value="{{room.price}}"
                    required>
                {{#if errors.price}}
                <div class="invalid-feedback">
                    {{errors.price}}
                </div>
                {{/if}}
            </div>

            <div class="mb-3">
                <label for="difficulty" class="form-label">Nivel de dificultad</label>
                <select class="form-select{{#if errors.difficulty}} is-invalid{{/if}}" value="{{room.difficulty}}"
                    name="difficulty">
                    <option selected>-- Selecciona la dificultad de la sala --</option>
                    {{#each difficulty}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                {{#if errors.difficulty}}
                <div class="invalid-feedback">
                    {{errors.difficulty}}
                </div>
                {{/if}}
            </div>

            <div class="mb-3">
                <label for="duration" class="form-label">Duración del juego (minutos)</label>
                <input class="form-control{{#if errors.duration}} is-invalid{{/if}}" name="duration" type="number"
                    id="duration" value="{{room.duration}}" required>
                {{#if errors.duration}}
                <div class="invalid-feedback">
                    {{errors.duration}}
                </div>
                {{/if}}
            </div>

            <div class="mb-3">
                <label for="terrorLevel" class="form-label">Nivel de terror</label>
                <select class="form-select{{#if errors.terrorLevel}} is-invalid{{/if}}" value="{{room.terrorLevel}}"
                    name="terrorLevel">
                    <option selected>-- Selecciona el nivel de terror de la sala --</option>
                    {{#each terror}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                {{#if errors.terrorLevel}}
                <div class="invalid-feedback">
                    {{errors.terrorLevel}}
                </div>
                {{/if}}
            </div>

            <div class="mb-3">
                <label for="synopsis" class="form-label">Sinopsis del juego</label>
                <input class="form-control {{#if errors.synopsis}}is-invalid{{/if}}" name="synopsis" type="text"
                    id="synopsis" placeholder="" value="{{room.synopsis}}" required>
                {{#if errors.synopsis}}
                <div class="invalid-feedback">
                    {{errors.synopsis}}
                </div>
                {{/if}}
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Imagen del juego</label>
                <input class="form-control" type="file" id="image" name="image">
            </div>
        
            <button class="btn btn-primary" type="submit">{{#if isEdit}}Editar sala{{else}}Crear sala{{/if}}</button>

        </form>
    </div>
</div>