<h1 class="mt-3">{{room.name}}</h1>

<div class="d-flex mt-3">
    <div class="me-3">
        <img width='300'src="{{room.image}}" alt="" referrerpolicy="no-referrer"/>
    </div>
    <div>
        <p>{{room.players}}</p>
        <p>{{room.minAge}}</p>
        <p>{{room.price}} €</p>
        <p>{{room.difficulty}}</p>
        <p>{{room.duration}} min.</p>
        <p>{{room.players}}</p>
        <p>{{room.terrorLevel}}</p>
        <p>{{room.synopsis}}</p>
    </div>
</div>